{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
  <h1> Короче, {{ request.user.get_full_name }}.</h1>
  <h2> Я тебе 404 показал и в благородство играть не буду. Сделаешь для
    меня пару крутых постов и мы в расчете! Заодно посмотрим, как быстро у
  тебя голова после перехода сюда прояснится..</h2>
  <h3> А по твоей теме, постараюсь разузнать. Хрен его знает, на кой ляд
    тебе эта {{ path }} сдалась, но я в чужие дела не лезу. Хочешь перейти,
    значит есть зачем..</h3>
{% else %}
<h1> Вы хто такие? </h1>
  <h2> Страницы не существует! </h2>
  <h3><a href="{% url 'posts:index' %}">Идите на
      главную!</a></h3>
{% endif %}

{% endblock %} 